/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
  min-height: 100vh;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* NAV */
nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background: #1a1a1a;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav button {
  padding: .6rem 1.2rem;
  border: none;
  background: #272727;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: .2s;
  font-size: .9rem;
}

nav button:hover {
  background: #3a3a3a;
}

/* MAIN CONTAINER */
#app {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: min(450px, 90%);
  margin: auto;
}

/* TITLES */
h2 {
  text-align: center;
  font-weight: 600;
}

/* FORMS */
.register, .login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #333;
}

.register div, .login div {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

label {
  font-size: .85rem;
  color: #ccc;
}

input {
  padding: .6rem .8rem;
  border-radius: 6px;
  border: 1px solid #444;
  background: #0f0f0f;
  color: #fff;
}

input:focus {
  outline: none;
  border-color: #777;
}

/* MAIN BUTTONS */
button#btnRegistro,
button#btnLogin {
  padding: .8rem 1rem;
  background: #4a4aff;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: .5rem;
  transition: .2s;
  width: 100%;
}

button#btnRegistro:hover,
button#btnLogin:hover {
  background: #6b6bff;
}


.game-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #333;
}

select {
  padding: .6rem;
  background: #0f0f0f;
  border: 1px solid #444;
  color: #fff;
  border-radius: 6px;
}

#btnGenerar {
  padding: .8rem;
  background: #4a4aff;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

#btnGenerar:hover {
  background: #6b6bff;
}

.resultado {
  margin-top: .7rem;
  text-align: center;
}

.word {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}